.brcktr-wrapper {
    display: inline-block;
    overflow: hidden;
    margin: 2px 0;
    padding: 5px;
    vertical-align: top;
    border: 1px solid #BABABA;
    background: #FFFFFF;
    vertical-align: middle;
}

.brcktr-wrapper pre {
    display: inline-block;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    background: transparent;
    color: transparent;
    margin: 0;
    padding: 0;
    /* letter-spacing: 2px; */
}

.brcktr-wrapper input[type="text"] {
    position: absolute;
    z-index: 100;
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    /* letter-spacing: 2px; */
}

.brcktr-wrapper, .brcktr-wrapper input[type="text"] {
    color: #282828;
    outline: 0;
}

.brcktr-unmatched {
    background: rgba(255, 0, 0, 0.3);
}

.brcktr-paren-0 { /* 5 */
    background: rgba(0, 100, 255, 0.3);
}

.brcktr-paren-1 {
    background: rgba(0, 100, 255, 0.4);
}

.brcktr-paren-2 {
    background: rgba(0, 100, 255, 0.5);
}

.brcktr-paren-3 {
    background: rgba(0, 100, 255, 0.6);
}

.brcktr-paren-4 {
    background: rgba(0, 100, 255, 0.7);
}

.brcktr-selected {
    background: rgba(0, 255, 0, 0.4) !important;
}