body {
    padding-top: 26px;
    font-family: sans-serif;
    background-color: #E9E9E9;
}

.title {
    margin: 0px auto;
    text-align: center;
    font-size: 26pt;
    font-weight: bold;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.title span {
    padding-bottom: 16px;
    border-bottom: 1px solid #003388;
}

#content {
    width: 800px;
    margin: 0px auto;
    text-align: left;
    padding: 25px;
    margin-bottom: 50px;
}

.demo {
    border-left: 4px solid #414eff;
    padding-left: 16px;
}

.demo input {
    font-size: 16pt;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: auto auto;
    text-align: center;
    background-color: #d8d8d8;
}

.footer p {
    width: 80%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 16px;
    font-size: 10pt;
    color: #555555;
}

.checkButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
    width: 300px;
    margin: 0px auto;
}

.checkButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    text-decoration: none;
}

.checkButton input {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: inherit;
}

.checkButton label {
    cursor: inherit;
    padding-left: 10px;
}

.text {
    width: 100%;
    text-align: center;
    margin: 0px;
}

.smallButton {
    font-size: 10pt;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#addButton {
    width: 150px;
    margin-top: 20px;
    display: block;
    -webkit-appearance: none;
    border: none;
}

#addButton:disabled {
    background-image: -webkit-linear-gradient(top, #d6d6d6, #b6b6b6);
    cursor: default;
}

.wwHost {
    font-size: 14pt;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px;
}

.wwHostText {
    display: inline-block;
    width: auto;
}

.deleteButton {
    float: right;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.deleteButton:hover {
    color: #ff0000;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5c5c5c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.wwHostInput {
    width: 100%;
    background: #ffffff00;
    border: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    font-size: 16pt;
    margin: 10px 0px 10px 0px;
}

.wwHostInput:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 132, 255);
}

.wwHostInput::-webkit-input-placeholder {
    color: #a5a5a5 !important;
}

#wwHostInputSave {
    width: 50px;
    float: right;
}

.inputMsg {
    color: red;
}

.manualDisabled {
    color: rgb(167, 166, 166);
}